* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-image: url('https://img.wallpapersafari.com/desktop/1920/1080/11/35/zu78CL.jpg');
  background-repeat: repeat;
  background-blend-mode: overlay;
  font-family: 'Roboto', sans-serif;
  background-color: #051122;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #051122;
  box-shadow: 0 5px 10px #000;
    
  position: fixed;
  top: 0;
  z-index: 100;  
}

.header-content {
  height: 60px;
  width: 40%;
  justify-self: center;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header img {
  align-self: center;
  height: 60px;
}

.button {
  background-color: #051122;
  align-self: center;
  height: 40px;
  width: 200px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  transition: background 0.2s;
}

.prev {
  width: 200px;
}

.button:hover {
  background: rgba(255,255,255,0.1);
  cursor: pointer;  
}

.App {
  margin: auto;
  width: 90%;
}

.card {
margin-top: 70px;
text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Character {
  margin: 10px 10px;
  padding: 5px;
  align-items: center;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px;
}

.card .img {
  width: 100%;
  height: 300px;
}

.Character p {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  background-color: #fff;
}

@media (max-width: 400px) {
  .card .img {
    height: 100%;
  }
}